:root{
    --branco:#ffffff;
    --preto:#141414;
    --branco1:#d6d6d6;
    --fundo:#fff;
    --branco2:#c4c4c4;
    --cinza:rgb(44, 44, 44);
    --cinza1:rgba(80, 78, 78, 0.932);
    --vermelho:#ff0000;
    --laranja:#fa464cc5;
    --azul: rgb(88, 219, 252);
}